*{
  margin: 0;
}

html, body{
  height:100%;
}

h1,h2,h3,h4,h5, h6, p{
  margin-bottom: :20px;
}

nav{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.section{
  height: 100%;
  background-color: white;
}

.subsection{
  height:50%;
  background-color: red;
}

img.central{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 38%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title{
  font-size: 80px;
	color: rgba(110, 111, 115, 1);
  text-align: center;
  font-family:Georgia, Times, "Times New Roman", serif;
  padding: 100px;
}
