*{
  margin: 0;
}

html, body{
  height:100%;
  text-align: center;
}

h1,h2,h3,h4,h5, h6, p{
  margin-bottom: :20em;
}

nav{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.nameSection{
  height :30%;
  background-color: white;
}
.photoSection{
  height: 50%;
  background-color: white;
}
.bottomSection{
  height: 20%;
}
.section{
  height: 100%;
  background-color: white;
}

.subsection{
  height:50%;
  background-color: red;
}

.title{
  font-size: 5em;
	color: rgba(110, 111, 115, 1);
  text-align: center;
  font-family:Georgia, Times, "Times New Roman", serif;
  padding: 7%;
}

img.ri
{
	position: relative;
	display: inline-block;
}

@media screen and (orientation: portrait) {
  img.ri { max-width: 50%; }
}

@media screen and (orientation: landscape) {
  img.ri { max-height: 90%; }
}

.unbehaved-element {
    font-size: 2em;
}
@media(max-width: 1580px) {
  .title{
    font-size: 5em;
  }
  .unbehaved-element {
    font-size: eem; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  .title {
    font-size: 2em;
  }
  img.ri{
    width:auto;
    height: auto;
  }
}
